<td class="esd-structure" align="left">
  <script src="https://ucv.bynder.com/5.0.5/modules/compactview/bynder-compactview-3-latest.js"></script>
  <table cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td width="560" class="esd-container-frame" align="center" valign="top">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tbody>
              <tr>
                <td>
                  <div class="bynderDefault">
                    <div style="text-align: center; padding-top: 10px">
                      <svg
                        id="logosandtypes_com"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 150 150"
                        style="font-size: 30; width: 0.9em"
                      >
                        <path d="M0 0h150v150H0V0z" fill="none" />
                        <path
                          d="M112.5 21.1c-10 0-19.2 4.4-25.3 11.6L41.9 78 29.1 65.2c-2.4-2.4-3.6-5.6-3.2-9.2 0-7.6 6-13.6 13.6-13.6 3.6 0 6.4 1.2 8.8 3.2l1.2 1.2 1.6 1.6 11.2-11.2 3.2-3.2-2.8-2.8-1.2-1.2c-6-5.6-14-9.2-22.9-9.2C20.3 20.7 5 35.9 5 54.4c0 8.4 3.2 16.4 8.4 22.1l28.9 29.3 60.5-60.5c2.4-2.4 5.6-3.6 8.8-3.6 7.6 0 13.6 6 13.6 13.6 0 3.6-1.2 6.4-3.2 8.8l-40 40c-1.6 1.6-3.6 2.4-6 2.4s-4.4-1.2-6-2.8l-3.2-3.2-14.4 14.4 2.8 2.8c5.2 5.2 12.4 8.4 20.4 8.4 8 0 15.2-3.2 20.4-8.4l42.1-42.1c5.2-5.6 8.4-13.6 8.4-22.5-.3-16.8-15.6-32-34-32z"
                          fill="#239fda"
                        />
                      </svg>
                    </div>
                    <p
                      class="headerBlockContent"
                      style="
                        font-size: 18px;
                        text-align: center;
                        padding-bottom: 10px;
                      "
                    >
                      Bynder assets
                    </p>
                  </div>
                  <div class="bynderImageNotSupported" style="display: none">
                    <p
                      class="headerBlockContent"
                      style="
                        font-size: 18px;
                        text-align: center;
                        padding-bottom: 10px;
                      "
                    >
                      Your browser does not support this image format. But you
                      can still
                      <a
                        class="bynderImageLinkNotSupported"
                        target="_blank"
                        href=""
                        >download it</a
                      >
                    </p>
                  </div>
                  <img
                    class="bynderImage"
                    style="display: none"
                    src=""
                    width="100%"
                  />
                  <video
                    class="bynderVideo"
                    src=""
                    controls
                    type="video/mp4"
                    width="100%"
                    style="display: none"
                  >
                    <a class="bynderVideoLink" target="_blank" href="">
                      <img
                        class="bynderVideoLinkImage"
                        src=""
                        width="100%"
                      />
                    </a>
                  </video>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</td>
